<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<title>用户列表</title>
</head>

<body>

<div class="container">

	<div th:if="${not #lists.isEmpty(customers)}">
		<h2>用户列表：</h2>
		<table class="table table-striped">
			<tr>
				<th>ID</th>
				<th>CustomerName</th>
				<th>CustomerMobile</th>
				<th>CustomerStatus</th>
				<th>View</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			<tr th:each="customer : ${customers}">
				<td th:text="${customer.id}"><a href="customer/${customer.id}">Id</a></td>
				<td th:text="${customer.name}">Name</td>
				<td th:text="${customer.mobile}">mobile</td>
				<td th:text="${customer.status}">status</td>
				<td><a th:href="${'customer/' + customer.id}">View</a></td>
				<td><a th:href="${'customer/edit/' + customer.id}">Edit</a></td>
				<td><a th:href="${'customer/delete/' + customer.id}">Delete</a></td>
			</tr>
		</table>
	</div>

</div>

</body>


</html>